{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="page-section bg-light pt-5">
    <div class="container">
        <h2>Welcome to the WNO</h2>
        <div class="row row-cols-2">
            {% for production in productions %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 position-relative">

                    <div class="img-cover img-thumb rounded" style="background-image: url('{{ production.thumb_image_url }}');">
                        {% if production.dead %}
                            <div class="p-1 rounded text-center text-uppercase text-light bg-danger bg-opacity-75">This production has been archived</div>
                        {% endif %}
                    </div>

                    <div class="px-2 pt-2">
                        <h6><a href="{% url 'production' production.url %}" class="stretched-link text-decoration-none link-dark">{{ production.year }} {{ production.work.name }}</a></h6>

                        <p class="fw-lighter lh-1">{{ production.tagline|truncatechars:60 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}