{% extends "base.html" %}
{% load static %}

{% block hero_image %}{{ person.hero_image_url }}{% endblock %}

{% block h1 %}
    {{ person.name }}
{% endblock %}


{% block hero_cta %}
    {% if person.facebook %}<a class="btn btn-dark btn-social mx-2" href="{{ person.facebook }}"><i class="fab fa-facebook-f"></i></a>{% endif %}
    {% if person.twitter %}<a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com/{{ person.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
{% endblock %}


{% block content %}

        <h2 class="display-6 text-center my-5">{{ person.tagline }}</h2>



<section class="page-section bg-light pt-5">
    <div class="container">

        <div class="row row-cols-2">
            {% for production in productions %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="border border-dark">

                        <a href="{% url 'production' production.url %}">
                            <div class="img-cover img-thumb" style="background-image: url('{{ production.work.image_url }}');"></div>
                        </a>

                        <div class="px-2 pt-2">
                            <h6>{{ production.year }} {{ production.work.name }}</h6>

                            <p class="fw-lighter lh-1">{{ production.tagline }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}

