{% extends "base.html" %}

{% block h1 %}
Productions
{% endblock %}

{% block content %}

<section class="page-section bg-light pt-5">
    <div class="container">

        <div class="row row-cols-2">
            {% for production in productions %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 position-relative">
                    <div class="border border-dark">

                        <div class="img-cover img-thumb" style="background-image: url('{{ production.work.image_url }}');"></div>

                        <div class="px-2 pt-2">
                            <h6><a href="{% url 'production' production.url %}" class="stretched-link text-decoration-none link-dark">{{ production.year }} {{ production.work.name }}</a></h6>

                            <p class="fw-lighter lh-1">{{ production.tagline }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}

