{% extends "base.html" %}

{% block h1 %}
Search
{% endblock %}

{% block content %}

{% if productions %}
<section class="page-section py-5" id="creatives">
    <div class="container">
        <h2 class="text-uppercase mb-5">Productions</h2>

        <div class="row row-cols-2">
            {% for production in productions %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 position-relative">

                    <div class="img-cover img-thumb rounded" style="background-image: url('{{ production.thumb_image_url }}');">
                        {% if production.dead %}
                            <div class="p-1 rounded text-center text-uppercase text-light bg-danger bg-opacity-75">This production has been archived</div>
                        {% endif %}
                    </div>

                    <div class="px-2 pt-2">
                        <h6><a href="{% url 'production' production.url %}" class="stretched-link text-decoration-none link-dark">{{ production.year }} {{ production.work.name }}</a></h6>

                        <p class="fw-lighter lh-1">{{ production.tagline|truncatechars:60 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endif %}



<section class="page-section py-5" id="creatives">
    <div class="container">
        <h2 class="text-uppercase mb-5">People</h2>

        <div class="row mt-5">
            {% for person in people %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">

                    <a href="{% url 'person' person.url %}"><div class="img-cover img-circle mb-2" style="background-image: url('{{ person.thumb_image_url }}');"></div></a>

                    <a href="{% url 'person' person.url %}" class="link-dark text-decoration-none">{{ person.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>



{% endblock %}

