{% extends "base.html" %}


{% block h1 %}
Works
{% endblock %}

{% block content %}

<section class="page-section bg-light pt-5">
    <div class="container">

        <div class="row row-cols-2">
            {% for work in works %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="border border-dark">

                        <a href="">
                            <div class="img-cover img-thumb" style="background-image: url('{{ work.image_url }}');"></div>
                        </a>

                        <div class="px-2 pt-2">
                            <h6>{{ work.name }}</h6>

                            <p class="fw-lighter lh-1">{{ work.tagline }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}
