{% extends "base.html" %}
{% load static %}


{% block h1 %}
    Edit comment
{% endblock %}

{% block content %}



<!-- COMMENTS -->
<section class="page-section">
    <div class="container">

        <div class="row mt-5">
            <form class="" action="{% url 'comment_edit' user_comment.id %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Save edit</button>
                <a href="{%url 'production' production.url %}" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</section>


{% endblock %}
