{% extends "base.html" %}
{% load static %}


{% block h1 %}
    Thank you for your donation
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">

        
        <div class="my-4 p-2 rounded text-center text-light bg-dark">
            Thank you for your donation of £{{ donation_total }}
            {% if production %} in recognition of our production of {{ production }}{% endif %}. Please fill in the payment form below.
        </div>
        

        <form action="" method="POST" id="donations-form">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">

                    {% csrf_token %}
                    <h5 class="text-uppercase mb-3">Details</h5>

                    {{ donation_form.full_name | as_crispy_field }}
                    {{ donation_form.email | as_crispy_field }}
                    {{ donation_form.production | as_crispy_field }}
                    {{ donation_form.city | as_crispy_field }}
                    {{ donation_form.country | as_crispy_field }}

                    <div class="mt-2">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </div>


                <div class="col-12 col-sm-12 col-md-10 col-lg-8 my-5">

                    <h5 class="text-uppercase mb-3">Payment</h5>

                    <div class="mb-3 " style="border:1px solid #DADFE3; padding:10px; " id="card-element"></div>

                    <div class="mb-3 text-danger" id="card-error" role="alert"></div>

                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </div>


                <div class="col-12 col-sm-10 col-md-8 col-lg-6">

                    <button id="submit-button" class="btn btn-success"><i class="fas fa-lock"></i> Donate</button>
                    
                    <p class="small text-danger my-3">
                        <i class="fas fa-exclamation-circle"></i>
                        Your card will be charged £{{ donation_total }}
                    </p>
                </div>
            </div>
        </form>

</section>


{% endblock %}


{% block js %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script>
/*
    Core logic/payment flow for this comes from here:
    https://stripe.com/docs/payments/accept-a-payment
    CSS from here: 
    https://stripe.com/docs/stripe-js
    COURSE METERIAL
*/

var stripePublicKey = $('#id_stripe_public_key').text().slice(1, -1);
var clientSecret = $('#id_client_secret').text().slice(1, -1);
var stripe = Stripe(stripePublicKey);
var elements = stripe.elements();
var style = {
    base: {
        color: '#000',
        fontFamily: 'system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, inherit',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
            color: '#aab7c4'
        }
    },
    invalid: {
        color: '#dc3545',
        iconColor: '#dc3545'
    }
};
var card = elements.create('card', {style: style});
card.mount('#card-element');


// Handle realtime validation errors on the card element
card.addEventListener('change', function (event) {
    $('#card-error').html('');
    if (event.error) {
        $('#card-error').html(`<i class="fas fa-times"></i> ${event.error.message}`);
    }
});


// Handle form submit
var form = document.getElementById('donations-form');

form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    card.update({ 'disabled': true});
    $('#submit-button').attr('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');

    // $('#donations-form').fadeToggle(100);
    $('#loading-overlay').fadeToggle(100);

    var saveInfo = Boolean($('#id-save-info').attr('checked'));
    // From using {% csrf_token %} in the form
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    var postData = {
        'csrfmiddlewaretoken': csrfToken,
        'client_secret': clientSecret,
        'save_info': saveInfo,
    };
    var url = '/donations/cache_checkout_data/';

    $.post(url, postData).done(function () {
        stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: $.trim(form.full_name.value),
                    // phone: $.trim(form.phone_number.value),
                    email: $.trim(form.email.value),
                    address:{
                        // line1: $.trim(form.street_address1.value),
                        // line2: $.trim(form.street_address2.value),
                        city: $.trim(form.city.value),
                        country: $.trim(form.country.value),
                    }
                }
            },
            shipping: {
                name: $.trim(form.full_name.value),
                // phone: $.trim(form.phone_number.value),
                address: {
                    // line1: $.trim(form.street_address1.value),
                    // line2: $.trim(form.street_address2.value),
                    city: $.trim(form.city.value),
                    country: $.trim(form.country.value),
                    // postal_code: $.trim(form.postcode.value),
                }
            },
        }).then(function(result) {
            if (result.error) {
                console.log('ERROR: ' + result.error.message)
                var errorDiv = document.getElementById('card-error');
                var html = `
                    <span class="icon" role="alert">
                    <i class="fas fa-times"></i>
                    </span>
                    <span>${result.error.message}</span>`;
                $(errorDiv).html(html);
                // $('#donations-form').fadeToggle(100);
                $('#loading-overlay').fadeToggle(100);
                card.update({ 'disabled': false});
                $('#submit-button').attr('disabled', false).html('<i class="fas fa-lock"></i> Donate');
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    form.submit();
                }
            }
        });
    }).fail(function () {
        // just reload the page, the error will be in django messages
        console.log('FAILED')
        location.reload();
    })
});
</script>
{% endblock %}