{% extends "base.html" %}
{% load static %}


{% block h1 %}
    Thank you!
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <p class="my-4">Your donation information is below. A confirmation email will be sent to {{ donation.email }}</p>

        <div class="row">
            <div class="col-12 col-lg-7">
                <dl class="row">
                    <dt class="col-sm-3">Donation number</dt>
                    <dd class="col-sm-9">{{ donation.donation_number }}</dd>

                    <dt class="col-sm-3">Date</dt>
                    <dd class="col-sm-9">{{ donation.record_added }}</dd>

                    <dt class="col-sm-3">Your name</dt>
                    <dd class="col-sm-9">{{ donation.full_name }}</dd>

                    <dt class="col-sm-3">City</dt>
                    <dd class="col-sm-9">{{ donation.city }}</dd>

                    <dt class="col-sm-3">Country</dt>
                    <dd class="col-sm-9">{{ donation.country }}</dd>

                    <dt class="col-sm-3">Donation Total</dt>
                    <dd class="col-sm-9">£{{ donation.donation_total }}</dd>
                </dl>
            </div>
        </div>

        {% if donation.production %}
            <a class="btn btn-primary" href="{% url 'production' donation.production.url %}">Back to {{ donation.production }}</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'home' %}">Back home</a>
        {% endif %}
    </div>
</section>
{% endblock %}