.hero-container {
  height:50vh;
  margin:0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
}


.img-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-thumb {
  height:120px;
  width:100%;
}


.img-circle {
  height:100%;
  width:100%;
  border-radius: 50%;
}

.img-circle-outer {
  height:150px;
  width:150px;
  border-radius: 50%;
  border:6px solid rgba(0, 0, 0, 0.1);
  margin:0 auto;
}

