{% extends "account/base.html" %}

{% load i18n %}

{% block h1 %}
    Set Password
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
