{% extends "account/base.html" %}

{% load i18n %}

{% block h1 %}
    Password reset
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="my-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" class="button btn-primary">
                </form>

                <p class="my-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
