{% extends "account/base.html" %}

{% load i18n %}

{% block h1 %}
    Password reset done
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="my-4 p-2 rounded text-center bg-light">
            If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
        </div>
    
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            
            </div>
        </div>
    </div>
</section>

{% endblock %}